/*=(===============================================================)*/

/*=(===============================================================)*/
/*=(Created with RoboEditor.)=======================================*/
/*=(===============================================================)*/

BODY {
	font-family: 'ו';
	background-color: #ffffff;
}

H1 /*begin!kadov{{*/ ,LI.kadov-H1 /*}}end!kadov*/   {
	font-weight: bold;
	font-size: 24.0pt;
}

H2 /*begin!kadov{{*/ ,LI.kadov-H2 /*}}end!kadov*/   {
	font-weight: bold;
	font-size: 18.0pt;
}

H3 /*begin!kadov{{*/ ,LI.kadov-H3 /*}}end!kadov*/   {
	font-weight: bold;
	font-size: 14.0pt;
}

H4 /*begin!kadov{{*/ ,LI.kadov-H4 /*}}end!kadov*/   {
	font-weight: bold;
	font-size: 12.0pt;
}

H5 /*begin!kadov{{*/ ,LI.kadov-H5 /*}}end!kadov*/   {
	font-weight: bold;
	font-size: 10.0pt;
}

H6 /*begin!kadov{{*/ ,LI.kadov-H6 /*}}end!kadov*/   {
	font-weight: bold;
	font-size: 9.0pt;
}

P /*begin!kadov{{*/ ,LI.kadov-P /*}}end!kadov*/   {
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

OL, UL { 
	margin-top: 0px; 
	margin-bottom: 0px;
}
