<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.heartsome.cat.ts.Application">
         </run>
      </application>
   </extension>
   <extension
         id="lite_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.heartsome.cat.ts.application"
            name="Heartsome Translation Studio">
         <property
               name="appName"
               value="Heartsome Translation Studio">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/xliff_16.png,images/xliff_32.png,images/xliff_48.png,images/xliff_64.png,images/xliff_128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,225,425,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="0,250,445,20">
         </property>
         <property
               name="aboutImage"
               value="images/xliff_128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutL">
         </property>
      </product>
   </extension>
   <extension
         id="personal_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.heartsome.cat.ts.application"
            name="Heartsome Translation Studio">
         <property
               name="appName"
               value="Heartsome Translation Studio">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/xliff_16.png,images/xliff_32.png,images/xliff_48.png,images/xliff_64.png,images/xliff_128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,225,425,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="0,250,445,20">
         </property>
         <property
               name="aboutImage"
               value="images/xliff_128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutP">
         </property>
      </product>
   </extension>
   <extension
         id="professional_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.heartsome.cat.ts.application"
            name="Heartsome Translation Studio">
         <property
               name="appName"
               value="Heartsome Translation Studio">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/xliff_16.png,images/xliff_32.png,images/xliff_48.png,images/xliff_64.png,images/xliff_128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,225,425,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="0,250,445,20">
         </property>
         <property
               name="aboutImage"
               value="images/xliff_128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutF">
         </property>
      </product>
   </extension>
   <extension
         id="ultimate_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.heartsome.cat.ts.application"
            name="Heartsome Translation Studio">
         <property
               name="appName"
               value="Heartsome Translation Studio">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/xliff_16.png,images/xliff_32.png,images/xliff_48.png,images/xliff_64.png,images/xliff_128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,225,425,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="0,250,445,20">
         </property>
         <property
               name="aboutText"
               value="%aboutU">
         </property>
         <property
               name="aboutImage"
               value="images/xliff_128.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.heartsome.cat.ts.CommandsPropertyTester"
            id="org.eclipse.core.expressions.testers.CommandsPropertyTester"
            namespace="org.eclipse.core.commands"
            properties="toggle"
            type="org.eclipse.ui.services.IServiceLocator">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.heartsome.cat.ts.TSPerspective"
            id="net.heartsome.cat.ts.perspective"
            name="%perspectives.default">
      </perspective>
   </extension>  
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.undoredo">
         <toolbar
               id="net.heartsome.cat.ts.toolbar.undoredo">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  disabledIcon="images/tool/undo.png"
                  icon="images/tool/undo.png"
                  id="undo"
                  label="%toolBar.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  disabledIcon="images/tool/redo.png"
                  icon="images/tool/redo.png"
                  id="redo"
                  label="%toolBar.redo"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.findreplace">
         <toolbar
               id="net.heartsome.cat.ts.toolbar.find">
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  disabledIcon="images/tool/find_replace.png"
                  icon="images/tool/find_replace.png"
                  id="findreplace"
                  label="%toolBar.findReplace"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:edit?before=undo.ext">
         <command
               commandId="org.eclipse.ui.edit.undo"
               icon="images/edit/undo.png"
               id="undo"
               label="%menu.edit.undo"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.redo"
               icon="images/edit/redo.png"
               id="redo"
               label="%menu.edit.redo"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=view">
         <menu
               id="net.heartsome.cat.ts.menu.viewMenu"
               label="%menu.view"
               mnemonic="F">
            <command
                  commandId="net.heartsome.cat.ts.command.openToolBar"
                  id="net.heartsome.cat.ts.menu.view.viewToolBar"
                  label="%menu.view.toolBar"
                  style="push">
            </command>
            <separator
                  name="net.heartsome.cat.ts.navigatorSeparator">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.tmSeparator">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.tbSeparator">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.webseparator"
                  visible="false">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.qaSeparator">
            </separator>
            <command
                  commandId="net.heartsome.cat.ts.command.openStatusBar"
                  label="%menu.view.statusBar"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.ui.menu.tool?after=preference.groupMarker">
         <command
               commandId="net.heartsome.cat.ts.command.preference"
               id="net.heartsome.cat.ts.command.preference"
               label="%menu.preference"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=group.about">
         <command
               commandId="net.heartsome.cat.ts.command.about"
               label="%menu.help.about"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?before=help.keyAssist">
         <command
               commandId="net.heartsome.cat.ts.command.keyAssist"
               label="%menu.help.keyAssist"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="ts.menu.view.command"
         point="org.eclipse.ui.commands">
      <category
            id="net.heartsome.cat.ts.viewMenu.category1"
            name="%category.view">
      </category>     
      <command
            categoryId="net.heartsome.cat.ts.viewMenu.category1"
            defaultHandler="net.heartsome.cat.ts.handler.OpenToolBarHandler"
            id="net.heartsome.cat.ts.command.openToolBar"
            name="%command.toolBar">
      </command>
 	  <command
          categoryId="net.heartsome.cat.ts.viewMenu.category1"
          defaultHandler="net.heartsome.cat.ts.handler.OpenStatusBarHandler"
          id="net.heartsome.cat.ts.command.openStatusBar"
          name="%command.statusBar">
      </command>
       <category
             id="net.heartsome.cat.ts.category.tool"
             name="%category.tool">
       </category>
       <command
             categoryId="net.heartsome.cat.ts.category.tool"
             defaultHandler="net.heartsome.cat.ts.handler.PreferenceHandler"
             id="net.heartsome.cat.ts.command.preference"
             name="%command.preference">
       </command>
       <command
             categoryId="org.eclipse.ui.category.help"
             defaultHandler="net.heartsome.cat.ts.handler.AboutHandler"
             id="net.heartsome.cat.ts.command.about"
             name="%command.help.about">
       </command>
       <command
             categoryId="org.eclipse.ui.category.help"
             id="org.eclipse.ui.help.helpContents"
             name="%command.help.helpContents">
       </command>
       <command
             categoryId="org.eclipse.ui.category.help"
             defaultHandler="net.heartsome.cat.ts.handler.KeyAssistHandler"
             id="net.heartsome.cat.ts.command.keyAssist"
             name="%command.help.keyAssist">
       </command>
   </extension>
  
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.ts.TsPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.edit.undo"
            icon="images/edit/undo.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.redo"
            icon="images/edit/redo.png">
      </image>
      <image
            commandId="org.eclipse.ui.newWizard"
            icon="images/file/new-project.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.save"
            icon="images/file/save.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAll"
            icon="images/file/saveall.gif">
      </image>
      <image
            commandId="org.eclipse.ui.file.exit"
            icon="images/file/logout.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.cut"
            icon="images/edit/cut.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.copy"
            icon="images/edit/copy.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.paste"
            icon="images/edit/paste.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.delete"
            icon="images/edit/delete.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.findReplace"
            icon="images/edit/search_replace.png">
      </image>
      <image
            commandId="org.eclipse.ui.help.dynamicHelp"
            icon="images/find.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.command.about"
            icon="images/help/about.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.command.preference"
            icon="icons/preferenceConfig.png">
      </image>
      <image
            commandId="org.eclipse.ui.help.helpContents"
            icon="images/help/help.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            class="org.eclipse.ui.wizards.newresource.BasicNewFolderResourceWizard"
            id="net.heartsome.cat.ts.ui.wizards.new.folder"
            name="%wizard.newFolder">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.ts.command.preference"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
      <key
            commandId="org.eclipse.ui.help.helpContents"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.heartsome.cat.ts.TsStartup"></startup>
   </extension>
    <extension
         point="org.eclipse.ui.activities">
      <activity
            id="My.unwanted.commands"
            name="Unwanted Commands">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="unwanted">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="My.unwanted.commands"
            pattern="org.eclipse.ui.window.showKeyAssist">
      </activityPatternBinding>
   </extension>
    <extension
          point="org.eclipse.ui.presentationFactories">
       <factory
             class="net.heartsome.cat.ts.UnOpenAgainEditorPresentationFactory"
             id="net.heartsome.cat.ts.UnOpenAgainEditorPresentationFactory"
             name="UnOpenAgainEditorPresentationFactory">
       </factory>
    </extension>
   
</plugin>
