<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationPreferencePage"
            class="net.heartsome.cat.database.ui.tm.preference.TMDatabasePage"
            id="net.heartsome.cat.database.ui.tm.preference.tmpage"
            name="%preferencePages.tm">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.database.ui.tm.preference.TMDatabaseInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.menu.database?after=net.heartsome.cat.database.ui.TMSeparator">
         <command
               commandId="net.heartsome.cat.database.ui.tm.command.tmDbManage"
               label="%menu.database.tmDbManage"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.database.ui.tm.command.importTmx"
               label="%menu.database.importTmx"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.database.ui.tm.command.exportTMX"
               label="%menu.database.exportTMX"
               style="push">
         </command>
         <separator
               name="net.heartsome.cat.database.ui.tm.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.menu.translation?after=net.heartsome.cat.ts.ui.xliffeditor.nattable.TMSearchSeparator">
         <command
               commandId="net.heartsome.cat.database.ui.tm.command.ConcordanceSearch"
               label="%menu.translation.tmSearch"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.heartsome.cat.database.ui.toolbar.search?after=net.heartsome.cat.database.ui.separator.TMSearch">
         <command
               commandId="net.heartsome.cat.database.ui.tm.command.ConcordanceSearch"
               icon="images/tool/tm-find.png"
               label="%toolBar.tmSearch"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.ui.menu.project?after=net.heartsome.cat.ts.ui.updateTMSeparator">
         <command
               commandId="net.heartsome.cat.ts.ui.xliffeditor.nattable.command.UpdateTMCommand"
               label="%menu.project.updateTM">
         </command>
         <separator
               name="net.heartsome.cat.database.ui.tm.separator11"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=group.updateTM">
         <command
               commandId="net.heartsome.cat.ts.ui.xliffeditor.nattable.command.UpdateTMCommand"
               label="%toolBar.updateTM"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.file.new?after=net.heartsome.cat.ts.ui.separator.newTM">
         <command
               commandId="net.heartsome.cat.database.ui.tm.command.newTM"
               label="%newWizard.tm"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.command.newMenu.pulldown?after=net.heartsome.cat.ts.ui.separator.pulldown.newTM">
      		<command
              commandId="net.heartsome.cat.ts.command.newMenu.pulldown"
              icon="images/new_tm.png"
              label="%toolbar.newTM"
              style="push">
             <parameter
                   name="wizardParameter"
                   value="tm">
             </parameter>
          </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.heartsome.cat.ts.ui.popupMenu.new?after=net.heartsome.cat.ts.ui.popup.separator.newTM">
      		<command
               commandId="net.heartsome.cat.database.ui.tm.command.newTM"
               label="%newWizard.tm"
               style="push">
         	</command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.database.ui.menu.database.category"
            defaultHandler="net.heartsome.cat.database.ui.tm.handler.TmDbManageHandler"
            id="net.heartsome.cat.database.ui.tm.command.tmDbManage"
            name="%command.tmDbManage">
      </command>
      <command
            categoryId="net.heartsome.cat.database.ui.menu.database.category"
            defaultHandler="net.heartsome.cat.database.ui.tm.handler.ImportTmxHandler"
            id="net.heartsome.cat.database.ui.tm.command.importTmx"
            name="%command.importTmx">
      </command>
      <command
            categoryId="net.heartsome.cat.database.ui.menu.database.category"
            defaultHandler="net.heartsome.cat.database.ui.tm.handler.ExportTmxHandler"
            id="net.heartsome.cat.database.ui.tm.command.exportTMX"
            name="%command.exportTMX">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.ui.category.translation"
            id="net.heartsome.cat.database.ui.tm.command.ConcordanceSearch"
            name="%command.tmSearch">
      </command>
      <command
            categoryId="org.eclipse.ui.category.project"
            id="net.heartsome.cat.ts.ui.xliffeditor.nattable.command.UpdateTMCommand"
            name="%command.updateTM">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.ui.category.new"
            defaultHandler="net.heartsome.cat.database.ui.tm.handler.NewTMHandler"
            id="net.heartsome.cat.database.ui.tm.command.newTM"
            name="%command.newTM">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.database.ui.tm.handler.ConcordanceSearchHandler"
            commandId="net.heartsome.cat.database.ui.tm.command.ConcordanceSearch">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.heartsome.cat.ts.ui.xliffeditor.nattable.editor.XLIFFEditorImplWithNatTable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="net.heartsome.cat.database.ui.tm.handler.UpdateTMHandler"
            commandId="net.heartsome.cat.ts.ui.xliffeditor.nattable.command.UpdateTMCommand">
         <enabledWhen>
            <test
                  property="navigatorPopup.projectOrXLIFF">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.heartsome.cat.database.ui.tm.wizard.NewTmDbWizard"
            id="net.heartsome.cat.database.ui.tm.wizad.newTmDb"
            name="%newWizard.tm">
         <description>
            %newWizard.tm.description
         </description>
      </wizard>
   </extension>
   <extension
         point="net.heartsome.cat.ts.ui.extensionpoint.newproject">
      <newProjectWizardPage
            class="net.heartsome.cat.database.ui.tm.newproject.NewProjectTmPage"></newProjectWizardPage>
   </extension>
   <extension
         point="net.heartsome.cat.ts.ui.extensionpoint.projectsetting">
      <ProjectSettingPage
            class="net.heartsome.cat.database.ui.tm.projectsetting.ProjectSettingTMPage"
            pagePath="tmPage">
      </ProjectSettingPage>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.database.ui.tm.command.ConcordanceSearch"
            icon="images/translate/search tm.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.xliffeditor.nattable.command.UpdateTMCommand"
            icon="images/updateTM.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tm.command.newTM"
            icon="images/new_tm.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tm.command.tmDbManage"
            icon="images/database/database-manage.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tm.command.importTmx"
            icon="images/database/import-tmx.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tm.command.exportTMX"
            icon="images/database/export-tmx.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.database.ui.tm.command.ConcordanceSearch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
      <key
            commandId="net.heartsome.cat.database.ui.tm.command.tmDbManage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+M3+M">
      </key>
   </extension>
</plugin>
