/*=(===============================================================)*/

/*=(===============================================================)*/
/*=(Created with RoboEditor.)=======================================*/
/*=(===============================================================)*/

BODY {
	background-color: #ffffff;
}

P /*begin!kadov{{*/ ,LI.kadov-P /*}}end!kadov*/   {
	font-family: '宋体';
	font-size: 12.0pt;
	color: #000000;
}

H1 /*begin!kadov{{*/ ,LI.kadov-H1 /*}}end!kadov*/   {
	font-family: '宋体';
	font-weight: bold;
	font-size: 16.0pt;
	color: #000080;
}

H2 /*begin!kadov{{*/ ,LI.kadov-H2 /*}}end!kadov*/   {
	font-family: '宋体';
	font-weight: bold;
	font-size: 14.0pt;
	color: #000080;
}

H3 /*begin!kadov{{*/ ,LI.kadov-H3 /*}}end!kadov*/   {
	font-family: '宋体';
	font-weight: bold;
	font-size: 12.0pt;
}

H4 /*begin!kadov{{*/ ,LI.kadov-H4 /*}}end!kadov*/   {
	font-family: '宋体';
	font-weight: bold;
	font-size: 12.0pt;
}

H5 /*begin!kadov{{*/ ,LI.kadov-H5 /*}}end!kadov*/   {
	font-family: '宋体';
	font-weight: bold;
	font-size: 12.0pt;
}

H6 /*begin!kadov{{*/ ,LI.kadov-H6 /*}}end!kadov*/   {
	font-family: '宋体';
	font-weight: bold;
	font-size: 12.0pt;
}

A:link {
	x-text-underline: normal;/*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ 
	color: #008000;
}

A:visited {
	x-text-underline: normal;/*begin!kadov{{*/ text-decoration: underline; /*}}end!kadov*/ 
	color: #008000;
}

A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}

A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}

SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

OL, UL { 
	margin-top: 0px; 
	margin-bottom: 0px;
}
