<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:file?after=rtf.switch">
         <separator
               name="net.heartsome.cat.ts.ui.rtf.separator2"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.ts.ui.docx.command.exportExternal"
               label="%rtf.menu.export"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.ts.ui.docx.command.importExternal"
               label="%rtf.menu.import"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=group.rtfConverter">
         <command
                  commandId="net.heartsome.cat.ts.ui.docx.command.exportExternal"
                  label="%rtf.menu.export"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.docx.command.importExternal"
                  label="%rtf.menu.import"
                  style="push">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            id="net.heartsome.cat.ts.ui.docx.command.exportExternal"
            name="%rtf.menu.export">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="net.heartsome.cat.ts.ui.docx.command.importExternal"
            name="%rtf.menu.import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.ui.docx.handler.ExportExternalHandler"
            commandId="net.heartsome.cat.ts.ui.docx.command.exportExternal">
         <enabledWhen>
            <test
                  property="rtf.enabled">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.docx.handler.ImportExternal"
            commandId="net.heartsome.cat.ts.ui.docx.command.importExternal">
         <enabledWhen>
            <test
                  property="rtf.enabled">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.ui.docx.command.exportExternal"
            icon="icons/rtf-export.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.docx.command.importExternal"
            icon="icons/rtf-import.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.ts.ui.docx.command.exportExternal"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="net.heartsome.cat.ts.ui.docx.command.importExternal"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
   </extension>
</plugin>

