<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="net.heartsome.cat.ts.ui.extensionpoint.newproject" name="NewProject" schema="schema/net.heartsome.cat.ts.ui.extensionpoint.newproject.exsd"/>
   <extension-point id="net.heartsome.cat.ts.ui.extensionpoint.projectsetting" name="ProjectSetting" schema="schema/net.heartsome.cat.ts.ui.extensionpoint.projectsetting.exsd"/>
   <extension-point id="net.heartsome.cat.ts.ui.extension.converter" name="ConverterExtenstion" schema="schema/net.heartsome.cat.ts.ui.extension.converter.exsd"/>	  
   <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="net.heartsome.cat.ts.ui.preferencepage.SystemPreferencePage"
             class="net.heartsome.cat.ts.ui.preferencepage.KeysPreferencePage"
             id="org.eclipse.ui.preferencePages.Keys"
             name="%preferencePages.Keys">
       </page>      
       <page
             category="net.heartsome.cat.ts.ui.preferencepage.SystemPreferencePage"
             class="net.heartsome.cat.ts.ui.preferencepage.languagecode.LanguageCodesPreferencePage"
             id="net.heartsome.cat.ts.ui.preferencepage.languagecode.LanguageCodesPreferencePage"
             name="%preferencePages.languagecode">
       </page>
       <page
             category="net.heartsome.cat.ts.ui.preferencepage.SystemPreferencePage"
             class="net.heartsome.cat.ts.ui.preferencepage.colors.ColorsPreferencePage"
             id="net.heartsome.cat.ts.ui.preferencepage.colors.ColorsPreferencePage"
             name="%preferencePages.colors">
       </page>
       <page
             class="net.heartsome.cat.ts.ui.preferencepage.SystemPreferencePage"
             id="net.heartsome.cat.ts.ui.preferencepage.SystemPreferencePage"
             name="%preferencePages.system">
       </page>
       <page
             class="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationPreferencePage"
             id="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationPreferencePage"
             name="%preferencePages.translation">
       </page>
       <page
             class="net.heartsome.cat.ts.ui.preferencepage.ProjectPropertiesPreferencePage"
             id="net.heartsome.cat.ts.ui.preferencepage.ProjectPropertiesPreferencePage"
             name="%preferencePages.projectProperties">
       </page>
       <page
             category="net.heartsome.cat.ts.ui.preferencepage.SystemPreferencePage"
             class="org.eclipse.ui.internal.net.ProxyPreferencePage"
             id="org.eclipse.ui.net.proxy_preference_page_context"
             name="%preferencePages.netconnection">
       </page>
    </extension>
    
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="net.heartsome.cat.ts.ui.preferencepage.TSPreferenceInitializer">
       </initializer>
       <initializer
             class="net.heartsome.cat.ts.ui.preferencepage.SystemPreferenceInitializer">
       </initializer>
       <initializer
             class="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationInitializer">
       </initializer>
       <initializer
             class="net.heartsome.cat.ts.ui.preferencepage.ProjectPreferenceInitializer">
       </initializer>      
    </extension>
    
    <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.heartsome.cat.convert.ui.commands.OpenMergedXliffCommand"
            name="%command.mergeOpen">
      </command>
      <command
            categoryId="org.eclipse.ui.category.project"
            id="net.heartsome.cat.ts.ui.menu.project.commands.ProjectSetting"
            name="%command.configure">
      </command>    
   </extension>

   <extension
         point="org.eclipse.ui.handlers">     
      <handler
            class="net.heartsome.cat.ts.ui.handlers.OpenMultiXliffHandler"
            commandId="net.heartsome.cat.convert.ui.commands.OpenMergedXliffCommand">
         <enabledWhen>
             <test
                   property="navigatorPopup.multiSelection">
             </test>
         </enabledWhen>
      </handler>
      <handler
            commandId="net.heartsome.cat.ts.ui.menu.project.commands.ProjectSetting"
            class="net.heartsome.cat.ts.ui.handlers.ProjectSettingHandler">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.handlers.NewHandler"
            commandId="net.heartsome.cat.ts.command.newMenu.pulldown">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.handlers.NewFolderHandler"
            commandId="net.heartsome.cat.ts.ui.command.newFolder">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
   <extension
         id="net.heartsome.cat.ts.ui.newwizards"
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.heartsome.cat.ts.ui.wizards.NewProjectWizard"
            icon="images/file/new-project.png"
            id="net.heartsome.cat.ts.ui.wizards.NewProjectWizard"
            name="%newWizard.project">
         <description>
            %newWizard.project.description
         </description>
      </wizard>
   </extension>
   
   <extension
         name="资源视图右键菜单"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=group.new">
         <menu
               id="net.heartsome.cat.ts.ui.popupMenu.new"
               label="%menu.file.new">
            <command
                   commandId="net.heartsome.cat.ts.ui.command.newProject"
                   label="%newWizard.project"
                   style="push">
             </command>
             <separator
                   name="net.heartsome.cat.ts.ui.popup.separator.newTM">
             </separator>
             <separator
                   name="net.heartsome.cat.ts.ui.popup.separator.newTB">
             </separator>
             <command
                   commandId="net.heartsome.cat.ts.ui.command.newFolder"
                   label="%popup.newFolder"
                   style="push">
             </command>
         </menu>
         <separator
               name="net.heartsome.cat.ts.ui.separator2"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <separator
               name="net.heartsome.cat.ts.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=group.openMerge">
         <command
               commandId="net.heartsome.cat.convert.ui.commands.OpenMergedXliffCommand"
               label="%popupMenu.mergeOpen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=additions">
         <command
               commandId="net.heartsome.cat.ts.ui.menu.project.commands.ProjectSetting"
               id="navigator.popmenu.projectsetting"
               label="%menu.project.configure"
               style="push">               
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">  
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=project">
         <menu
               id="net.heartsome.cat.ts.ui.menu.project"
               label="%menu.project">
            <separator
                  name="net.heartsome.cat.ts.ui.updateTMSeparator">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.ui.analysisSeparator">
            </separator>
            <command
                  commandId="net.heartsome.cat.ts.ui.menu.project.commands.ProjectSetting"
                  label="%menu.project.configure"
                  style="push">
            </command>
            <separator
                  name="net.heartsome.cat.ts.ui.exportAndImportSeparator"
                  visible="true">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.ui.exportSeparator">
            </separator>
            <separator
                  name="net.heartsome.cat.ts.ui.importSeparator">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
       point="org.eclipse.ui.editors">
    <editor
          class="net.heartsome.cat.ts.ui.editors.HtmlBrowserEditor"
          default="true"
          extensions="html"
          icon="icons/html.png"
          id="net.heartsome.cat.ts.ui.editor.HtmlBrowser"
          name="%editors.html">
             <contentTypeBinding
               contentTypeId="html">
         </contentTypeBinding>
    </editor>
  </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
	        base-type="org.eclipse.core.runtime.xml"
	        file-extensions="html"
	        id="html"
	        name="html">
		</content-type>
  </extension>
    <extension
          id="ts.ui.menu.view"
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:net.heartsome.cat.ts.menu.viewMenu?after=net.heartsome.cat.ts.command.openStatusBar">
          <separator
                name="net.heartsome.cat.ts.ui.layout.separator"
                visible="true">
          </separator>
          <command
                commandId="net.heartsome.cat.ts.ui.handlers.ChangeXliffEditorModelCommand"
                icon="images/view/horizontal.png"
                label="%menu.view.changeLayout"
                style="push">
             <parameter
                   name="xliffEditor.layout"
                   value="menu">
             </parameter>
          </command>
          <!--
          <command
                commandId="net.heartsome.cat.ts.ui.handlers.SaveAsPersperctiveCommand"
                id="net.heartsome.cat.ts.ui.handlers.SaveAsPersperctiveCommand"
                label="布局另存为..."
                mnemonic="S"
                style="push">
          </command> -->
          <command
                commandId="net.heartsome.cat.ts.ui.handlers.ResetPerspectiveCommand"
                id="net.heartsome.cat.ts.ui.handlers.ResetPerspectiveCommand"
                label="%menu.view.resetPerspective"
                mnemonic="S"
                style="push">
          </command>
          <separator
                name="net.heartsome.cat.ts.ui.separator1"
                visible="true">
          </separator>
          <command
                commandId="net.heartsome.cat.ts.ui.toolbar.showHidenNonPrintingCharacter"
                icon="images/edit/Nonprintting.png"
                id="net.heartsome.cat.ts.ui.menu.edit.showHidenNonPrintingCharacter"
                label="%toolbar.showHidenNonPrintingCharacter"
                style="push">
          </command>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.changeLayout">
          <toolbar
                id="net.heartsome.cat.ts.ui.toolbar.changeLayout">
             <command
                   commandId="net.heartsome.cat.ts.ui.handlers.ChangeXliffEditorModelCommand"
                   icon="images/tool/horizontal.png"
                   id="net.heartsome.cat.ts.ui.handlers.ChangeXliffEditorModelCommand"
                   label="%toolbar.changeLayout"
                   style="push">
             </command>
             <command
                   commandId="net.heartsome.cat.ts.ui.toolbar.showHidenNonPrintingCharacter"
                   icon="images/tool/Nonprintting.png"
                   id="net.heartsome.cat.ts.ui.toolbar.showHidenNonPrintingCharacter"
                   label="%toolbar.showHidenNonPrintingCharacter"
                   style="push">
             </command>
          </toolbar>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:file?after=new.ext">
          <menu
                id="net.heartsome.cat.ts.file.new"
                label="%menu.file.new">
             <command
                   commandId="net.heartsome.cat.ts.ui.command.newProject"
                   label="%newWizard.project"
                   style="push">
             </command>
             <separator
                   name="net.heartsome.cat.ts.ui.separator.newTM">
             </separator>
             <separator
                   name="net.heartsome.cat.ts.ui.separator.newTB">
             </separator>
             <command
                   commandId="net.heartsome.cat.ts.ui.command.newFolder"
                   label="%popup.newFolder"
                   style="push">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=group.new.menu">
          <toolbar
                id="net.heartsome.cat.ts.toolbar.newMenu">
             <command
                   commandId="net.heartsome.cat.ts.command.newMenu.pulldown"
                   icon="images/tool/new.png"
                   id="net.heartsome.cat.ts.command.newMenu.pulldown"
                   label="%menu.file.new"
                   style="pulldown">
             </command>
          </toolbar>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="menu:net.heartsome.cat.ts.command.newMenu.pulldown">
          <command
                commandId="net.heartsome.cat.ts.command.newMenu.pulldown"
                icon="images/file/new_project.png"
                label="%toolbar.newProject"
                style="push">
             <parameter
                   name="wizardParameter"
                   value="project">
             </parameter>
          </command>
          <separator
                name="net.heartsome.cat.ts.ui.separator.pulldown.newTM">
          </separator>
          <separator
                name="net.heartsome.cat.ts.ui.separator.pulldown.newTB">
          </separator>
          <command
                commandId="net.heartsome.cat.ts.command.newMenu.pulldown"
                icon="images/file/new_folder.png"
                label="%toolbar.newFolder"
                style="push">
             <parameter
                   name="wizardParameter"
                   value="folder">
             </parameter>
          </command>
       </menuContribution>
    </extension>
    <extension
          id="ts.ui.menu.view.commands"
          point="org.eclipse.ui.commands">
        <!-- 
       <command
             categoryId="net.heartsome.cat.ts.viewMenu.category1"
             defaultHandler="net.heartsome.cat.ts.ui.handlers.SavePerspectiveHandler"
             id="net.heartsome.cat.ts.ui.handlers.SaveAsPersperctiveCommand"
             name="布局另存为">
       </command> -->
       <command
             categoryId="net.heartsome.cat.ts.viewMenu.category1"
             defaultHandler="net.heartsome.cat.ts.ui.handlers.ResetPerspectiveHandler"
             id="net.heartsome.cat.ts.ui.handlers.ResetPerspectiveCommand"
             name="%command.resetPerspective">
       </command>
       <command
             categoryId="net.heartsome.cat.ts.viewMenu.category1"
             defaultHandler="net.heartsome.cat.ts.ui.handlers.ShowHidenNonPrintingCharacterHandler"
             id="net.heartsome.cat.ts.ui.toolbar.showHidenNonPrintingCharacter"
             name="%toolbar.showHidenNonPrintingCharacter">
          <state
                class="org.eclipse.jface.commands.ToggleState"
                id="org.eclipse.ui.commands.toggleState">
          </state>
       </command>
       <category
             id="net.heartsome.cat.ts.ui.category.toolbar"
             name="%category.toolbar">
       </category>
       <command
             categoryId="net.heartsome.cat.ts.viewMenu.category1"
             id="net.heartsome.cat.ts.ui.handlers.ChangeXliffEditorModelCommand"
             name="%command.changeLayout">
          <commandParameter
                id="xliffEditor.layout"
                name="xliffEditor.layout"
                optional="true">
          </commandParameter>
       </command>
       <category
             id="net.heartsome.cat.ts.ui.category.new"
             name="%category.file.new">
       </category>
       <command
             categoryId="net.heartsome.cat.ts.ui.category.new"
             defaultHandler="net.heartsome.cat.ts.ui.handlers.NewProjectHandler"
             id="net.heartsome.cat.ts.ui.command.newProject"
             name="%command.newProject">
       </command>
       <command
             categoryId="net.heartsome.cat.ts.ui.category.new"
             id="net.heartsome.cat.ts.ui.command.newFolder"
             name="%command.newFolder">
       </command>
       <command
             id="net.heartsome.cat.ts.command.newMenu.pulldown"
             name="%category.file.new">
          <commandParameter
                id="wizardParameter"
                name="wizardParameter"
                optional="true">
          </commandParameter>
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="net.heartsome.cat.ts.ui.menu.project.commands.ProjectSetting"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
             sequence="CTRL+F1">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="net.heartsome.cat.ts.ui.command.newProject"
             icon="images/file/new_project.png">
       </image>
       <image
             commandId="net.heartsome.cat.ts.ui.menu.project.commands.ProjectSetting"
             icon="images/project/project_set.png">
       </image>
       <image
             commandId="net.heartsome.cat.ts.ui.command.newFolder"
             icon="images/file/new_folder.png">
       </image>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="net.heartsome.cat.ts.ui.propertyTester.SelectProjectOrXLIFFPropertyTester"
             id="net.heartsome.cat.ts.ui.propertyTester.SelectProjectOrXLIFFPropertyTester"
             namespace="navigatorPopup"
             properties="projectOrXLIFF"
             type="java.lang.Object">
       </propertyTester>
       <propertyTester
             class="net.heartsome.cat.ts.ui.propertyTester.SelectProjectOrSourcePropertyTester"
             id="net.heartsome.cat.ts.ui.propertyTester.SelectProjectOrSourcePropertyTester"
             namespace="navigatorPopup"
             properties="projectOrSource"
             type="java.lang.Object">
       </propertyTester>
       <propertyTester
            class="net.heartsome.cat.ts.ui.propertyTester.RTFEnabledPropertyTester"
            id="net.heartsome.cat.ts.ui.propertyTester.RTFEnabledPropertyTester"
            namespace="rtf"
            properties="enabled"
            type="java.lang.Object">
      </propertyTester>
       <propertyTester
             class="net.heartsome.cat.ts.ui.propertyTester.MultiSelectionPropertyTester"
             id="net.heartsome.cat.ts.ui.propertyTester.MultiSelectionPropertyTester"
             namespace="navigatorPopup"
             properties="multiSelection"
             type="java.lang.Object">
       </propertyTester>
    </extension>
</plugin>
