<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.heartsome.cat.ts.tm.complexmatch.extension">
      <complexMatch
            class="net.heartsome.cat.ts.quicktranslation.QuickTranslationImpl">
      </complexMatch>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.menu.translation?after=net.heartsome.cat.ts.ui.xliffeditor.menu.translation.quickTransSeparator">
         <command
               commandId="net.heartsome.cat.ts.quicktranslation.executeQuickTrans"
               label="%menu.executeQuickTrans"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.ts.ui.category.translation"
            id="net.heartsome.cat.ts.quicktranslation.executeQuickTrans"
            name="%command.executeQuickTrans">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.quicktranslation.handler.ExecuteQuickTranslation"
            commandId="net.heartsome.cat.ts.quicktranslation.executeQuickTrans">
            <enabledWhen>
            <test
                  property="xliffEditor.selectionCount">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
       <key
             commandId="net.heartsome.cat.ts.quicktranslation.executeQuickTrans"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
             sequence="F9">
       </key>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.quicktranslation.executeQuickTrans"
            icon="images/quick_trans.png">
      </image>
   </extension>

</plugin>
