<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.heartsome.cat.common.ui.navigator.category"
            name="%views.navigator.category">
      </category>
      <view
            allowMultiple="false"
            category="net.heartsome.cat.common.ui.navigator.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/filenav_nav.png"
            id="net.heartsome.cat.common.ui.navigator.view"
            name="%views.navigator.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="net.heartsome.cat.common.ui.navigator.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="net.heartsome.cat.common.ui.navigator.view#PopupMenu">
              <insertionPoint
                    name="group.new"
                    separator="true"/>
              <insertionPoint
                    name="group.open">
              </insertionPoint>
              <insertionPoint
                    name="group.openMerge">
              </insertionPoint>
              <!--
              <insertionPoint
                    name="group.openWith">
              </insertionPoint>-->
              <insertionPoint
                    name="group.build"
                    separator="true">
              </insertionPoint>
              <insertionPoint
                    name="group.edit"
                    separator="true">
              </insertionPoint>
              <insertionPoint
                    name="group.xliffConverter"
                    separator="true">
              </insertionPoint>
              <insertionPoint
                    name="group.sep"
                    separator="true">
              </insertionPoint>
              <insertionPoint
                    name="group.wordsAnalysis">
              </insertionPoint>
              <insertionPoint
                    name="group.lockRepeat">
              </insertionPoint>
              <insertionPoint
                    name="group.preTranslation">
              </insertionPoint>
              <insertionPoint
                    name="group.rtfConverter"
                    separator="true">
              </insertionPoint>
              <insertionPoint
                    name="group.qa">
              </insertionPoint>
              <insertionPoint
                    name="group.updateTM">
              </insertionPoint>
             <!-- <insertionPoint name="group.reorganize" />
            
             <insertionPoint
                   name="group.port"
                   separator="true"/>
             -->
             <insertionPoint
                   name="group.xliffSplitOrMerge"
                   separator="true">
             </insertionPoint>
             <insertionPoint
                   name="additions"
                   separator="true"/>
                <!--
             <insertionPoint
                   name="group.properties"
                   separator="true"/> -->
         </popupMenu>
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true">
            </property>
            <!-- 
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>-->
            <property
                  name="org.eclipse.ui.navigator.hideCollapseAllAction"
                  value="true">
            </property>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="net.heartsome.cat.common.ui.navigator.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.closedProject">
            </contentExtension>
            
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="net.heartsome.cat.common.ui.navigator.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <!--
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
            -->
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="net.heartsome.cat.common.ui.navigator.view">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.heartsome.cat.ts.perspective">
         <view
               closeable="true"
               id="net.heartsome.cat.common.ui.navigator.view"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
			<!-- IPageLayout.ID_EDITOR_AREA = "org.eclipse.ui.editorss" -->
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="ts.main.menu.view"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.heartsome.cat.ts.menu.viewMenu?after=net.heartsome.cat.ts.navigatorSeparator">
         <command
               commandId="net.heartsome.cat.common.ui.navigator.command.OpenNavigatorView"
               icon="icons/enabled_co.png"
               id="net.heartsome.cat.ts.menu.view.viewNavigator"
               label="%menu.view.navigator"
               style="push">
            <parameter
                  name="ViewId"
                  value="net.heartsome.cat.common.ui.navigator.view">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.ts.viewMenu.category1"
            defaultHandler="net.heartsome.cat.common.ui.handlers.OpenViewHandler"
            id="net.heartsome.cat.common.ui.navigator.command.OpenNavigatorView"
            name="%command.navigator">
         <commandParameter
               id="ViewId"
               name="ViewId"
               optional="false">
         </commandParameter>
      </command>
   </extension>
</plugin>
