<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.menu.translation?after=net.heartsome.cat.ts.ui.xliffeditor.nattable.websearchseparator">
         <separator
               name="net.heartsome.cat.ts.websearch.separator"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.ts.websearch.search"
               icon="image/websearch16.png"
               label="%menu.webSearch"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="ts.webSearch"
         name="ts.webSearch"
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.ts.ui.category.translation"
            id="net.heartsome.cat.ts.websearch.search"
            name="%menu.webSearch">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.viewMenu.category1"
            id="net.heartsome.cat.ts.websearch.showOrHideView"
            name="%menu.webSearch">
         <commandParameter
               id="ViewId"
               name="ViewId"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.websearch.handler.WebSearchHandler"
            commandId="net.heartsome.cat.ts.websearch.search">
      </handler>
      <handler
            class="net.heartsome.cat.common.ui.handlers.OpenViewHandler"
            commandId="net.heartsome.cat.ts.websearch.showOrHideView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.ts.websearch.ui.preference.WebSearchPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationPreferencePage"
            class="net.heartsome.cat.ts.websearch.ui.preference.WebSearchPreferencePage"
            id="net.heartsome.cat.ts.websearch.ui.preference.WebSearchPreferencePage"
            name="%menu.webSearchSet">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.heartsome.cat.ts.websearch.ui.view.BrowserViewPart"
            icon="image/websearch16.png"
            id="net.heartsome.cat.ts.websearch.ui.view.BrowserViewPart"
            name="%menu.webSearch"
            restorable="true">
      </view>
   </extension>
   <extension
         id="net.hearatsome.cat.webSearch"
         name="webSearch"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.heartsome.cat.ts.perspective">
         <view
               id="net.heartsome.cat.ts.websearch.ui.view.BrowserViewPart"
               minimized="false"
               ratio="0.65"
               relationship="stack"
               relative="net.heartsome.cat.ts.ui.translation.view.matchview"
               standalone="false"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.heartsome.cat.ts.menu.viewMenu?after=net.heartsome.cat.ts.webseparator">
         <command
               commandId="net.heartsome.cat.ts.websearch.showOrHideView"
               icon="icons/disabled_co.png"
               id="net.heartsome.cat.ts.websearch.showOrHideView"
               label="%menu.webSearch"
               style="push">
           
            <parameter
                  name="ViewId"
                  value="net.heartsome.cat.ts.websearch.ui.view.BrowserViewPart">
            </parameter>
           
         </command>
      </menuContribution>
   </extension>
  

</plugin>
