<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            class="net.heartsome.cat.ts.ui.translation.view.MatchViewPart"
            icon="images/tm-view/tm_title.png"
            id="net.heartsome.cat.ts.ui.translation.view.matchview"
            name="%matchview.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.heartsome.cat.ts.perspective">
         <view
               id="net.heartsome.cat.ts.ui.translation.view.matchview"
               minimized="false"
               ratio="0.3"
               relationship="top"
               relative="net.heartsome.cat.ts.ui.xliffeditor.nattable.editor"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:net.heartsome.cat.ts.menu.viewMenu?after=net.heartsome.cat.ts.tmSeparator">
          <command
                commandId="net.heartsome.cat.ts.ui.translation.menu.command.openMatchView"
                label="%menu.view.TMView"
                style="push">
              <parameter
                     name="ViewId"
                     value="net.heartsome.cat.ts.ui.translation.view.matchview">
              </parameter>
          </command>        
       </menuContribution>       
    </extension>
	<extension
	      point="org.eclipse.ui.commands">
	   <command
          categoryId="net.heartsome.cat.ts.viewMenu.category1"
          defaultHandler="net.heartsome.cat.common.ui.handlers.OpenViewHandler"
          id="net.heartsome.cat.ts.ui.translation.menu.command.openMatchView"
          name="%command.TMView">
          <commandParameter
                id="ViewId"
                name="ViewId"
                optional="false">
          </commandParameter>
	   </command>
	</extension>
</plugin>
