<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.ui.menu.tool?after=pluginConfigure">
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.pluginConfigurationCommand"
                  label="%menu.tool.pluginConfigure"
                  style="push">
            </command>
            <separator
                  name="net.heartsome.cat.ts.ui.plugin.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.command.XSLTransformer"
                  label="%menu.tool.XSL"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.command.TBXMaker"
                  label="%menu.tool.TBX"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.command.CSV2TMXConverter"
                  label="%menu.tool.CSV"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.command.Martif2TBXConverter"
                  label="%menu.tool.Martif"
                  style="push">
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.PropertiesViewerCommand"
                  label="%menu.tool.Prop"
                  style="push">
               <parameter
                     name="net.heartsome.cat.ts.ui.plugin.pluginID"
                     value="PropertiesViewer">
               </parameter>
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.command.RTFCleaner"
                  label="%menu.tool.RTF"
                  style="push">
            </command>
           	<command
                  commandId="net.heartsome.cat.ts.ui.plugin.TMX2TXTConverterCommand"
                  label="%menu.tool.TXT"
                  style="push">
               <parameter
                     name="net.heartsome.cat.ts.ui.plugin.pluginID"
                     value="TMX2TXTConverter">
               </parameter>
            </command>
            <command
                  commandId="net.heartsome.cat.ts.ui.plugin.TMXValidatorCommand"
                  label="%menu.tool.TMX"
                  style="push">
               <parameter
                     name="net.heartsome.cat.ts.ui.plugin.pluginID"
                     value="TMXValidator">
               </parameter>
            </command>
            <separator
                  name="net.heartsome.cat.ts.ui.plugin.separator17"
                  visible="true">
            </separator>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.pluginConfigurationCommand"
            name="%command.pluginConfigure">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.command.XSLTransformer"
            name="%command.XSL">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.command.TBXMaker"
            name="%command.TBX">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.command.CSV2TMXConverter"
            name="%command.CSV">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.command.Martif2TBXConverter"
            name="%command.Martif">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.PropertiesViewerCommand"
            name="%command.Prop">
         <commandParameter
               id="net.heartsome.cat.ts.ui.plugin.pluginID"
               name="net.heartsome.cat.ts.ui.plugin.pluginID"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.command.RTFCleaner"
            name="%command.RTF">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.TMX2TXTConverterCommand"
            name="%command.TXT">
         <commandParameter
               id="net.heartsome.cat.ts.ui.plugin.pluginID"
               name="net.heartsome.cat.ts.ui.plugin.pluginID"
               optional="false">
         </commandParameter>
      </command>
      
      <command
            categoryId="net.heartsome.cat.ts.category.tool"
            id="net.heartsome.cat.ts.ui.plugin.TMXValidatorCommand"
            name="%command.TMX">
         <commandParameter
               id="net.heartsome.cat.ts.ui.plugin.pluginID"
               name="net.heartsome.cat.ts.ui.plugin.pluginID"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.PluginConfigurationHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.pluginConfigurationCommand">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.XSLTransformationHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.command.XSLTransformer">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.TBXMakerHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.command.TBXMaker">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.CSV2TMXConverterHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.command.CSV2TMXConverter">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.Martif2TBXConverterHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.command.Martif2TBXConverter">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.PluginHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.PropertiesViewerCommand">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.RTFCleanerHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.command.RTFCleaner">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.PluginHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.TMX2TXTConverterCommand">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.plugin.handler.PluginHandler"
            commandId="net.heartsome.cat.ts.ui.plugin.TMXValidatorCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.ts.ui.plugin.PropertiesViewerCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
         <parameter
               id="net.heartsome.cat.ts.ui.plugin.pluginID"
               value="PropertiesViewer">
         </parameter>
      </key>
      <key
            commandId="net.heartsome.cat.ts.ui.plugin.TMX2TXTConverterCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M2+M3+T">
         <parameter
               id="net.heartsome.cat.ts.ui.plugin.pluginID"
               value="TMX2TXTConverter">
         </parameter>
      </key>
      <key
            commandId="net.heartsome.cat.ts.ui.plugin.TMXValidatorCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+M2+M">
         <parameter
               id="net.heartsome.cat.ts.ui.plugin.pluginID"
               value="TMXValidator">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.pluginConfigurationCommand"
            icon="icons/plugin.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.command.XSLTransformer"
            icon="icons/XSLMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.command.TBXMaker"
            icon="icons/CSV2TBXMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.command.CSV2TMXConverter"
            icon="icons/CSV2TMXMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.command.Martif2TBXConverter"
            icon="icons/MARTIF2TBXMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.PropertiesViewerCommand"
            icon="icons/JPropViewerMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.command.RTFCleaner"
            icon="icons/RTFCleanerMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.TMX2TXTConverterCommand"
            icon="icons/TMX2TXTConverterMenu.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.plugin.TMXValidatorCommand"
            icon="icons/TMXValidatorMenu.png">
      </image>
   </extension>


</plugin>
