<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=advance">
         <menu
               id="net.heartsome.cat.ts.ui.advanced"
               label="%menu.advanced">
         	<command
                commandId="net.heartsome.cat.ts.ui.advanced.CatalogManagerCommand"
                label="%menu.advanced.catalog"
                style="push">
         	</command>
			<command
         commandId="net.heartsome.cat.ts.ui.advanced.XmlConverterConfigurationCommand"
         label="%menu.advanced.XmlConverter"
         style="push">
			</command>
			<command
         commandId="net.heartsome.cat.ts.ui.advanced.SRXConfigrationCommand"
         label="%menu.advanced.SRX"
         style="push">
			</command>
         </menu>
         
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.heartsome.cat.ts.ui.advanced.command.category"
            name="%command.advanced">
      </category>
      <command
      		categoryId="net.heartsome.cat.ts.ui.advanced.command.category"
            id="net.heartsome.cat.ts.ui.advanced.CatalogManagerCommand"
            name="%command.catalog">
      </command>
      <command
      		categoryId="net.heartsome.cat.ts.ui.advanced.command.category"
            id="net.heartsome.cat.ts.ui.advanced.XmlConverterConfigurationCommand"
            name="%command.XmlConverter">
      </command>
      <command
      		categoryId="net.heartsome.cat.ts.ui.advanced.command.category"
            id="net.heartsome.cat.ts.ui.advanced.SRXConfigrationCommand"
            name="%command.SRX">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.ui.advanced.handlers.CatalogManagerHandler"
            commandId="net.heartsome.cat.ts.ui.advanced.CatalogManagerCommand">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.advanced.handlers.XmlConverterConfigurationHandler"
            commandId="net.heartsome.cat.ts.ui.advanced.XmlConverterConfigurationCommand">
      </handler>
      <handler
            class="net.heartsome.cat.ts.ui.advanced.handlers.SRXConfigrationHandler"
            commandId="net.heartsome.cat.ts.ui.advanced.SRXConfigrationCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.ui.advanced.CatalogManagerCommand"
            icon="icons/content-set.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.advanced.XmlConverterConfigurationCommand"
            icon="icons/xml-set.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.advanced.SRXConfigrationCommand"
            icon="icons/srx-set.png">
      </image>
   </extension>

</plugin>
