<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- 取消预翻译的首选项扩展
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.ts.pretranslation.preference.PreTransPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationPreferencePage"
            class="net.heartsome.cat.ts.pretranslation.preference.PreTranslationPreferencePage"
            id="net.heartsome.cat.ts.pretranslation.preferencepage"
            name="%preferencePages.preTranslation">
      </page>
   </extension>-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:net.heartsome.cat.ts.menu.translation?after=net.heartsome.cat.ts.ui.xliffeditor.nattable.PreTransSeparator">
         <command
               commandId="net.heartsome.cat.ts.pretranslation.command.preTrans"
               id="preTranslation"
               label="%menu.translation.preTranslation"
               style="push">
         </command>
         <separator
               name="net.heartsome.cat.ts.pretranslation.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.heartsome.cat.common.ui.navigator.view#PopupMenu?after=group.preTranslation">
         <command
               commandId="net.heartsome.cat.ts.pretranslation.command.preTrans"
               label="%popupMenu.preTranslation"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.ts.ui.category.translation"
            id="net.heartsome.cat.ts.pretranslation.command.preTrans"
            name="%command.preTranslation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.ts.pretranslation.command.preTrans"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.pretranslation.handlers.PreTranslationHandler"
            commandId="net.heartsome.cat.ts.pretranslation.command.preTrans">
         <enabledWhen>
            <test
                  property="navigatorPopup.projectOrXLIFF">
            </test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="net.heartsome.converter.extension.pretranslation">
      <ExecutePretranslation
            class="net.heartsome.cat.ts.pretranslation.converter.ExecutePreTranslationImpl">
      </ExecutePretranslation>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.pretranslation.command.preTrans"
            icon="images/pre_translation_16.png">
      </image>
   </extension>

</plugin>
