<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="net.heartsome.cat.database.ui.tb.wizard.NewTermDbWizard"
            id="net.heartsome.cat.database.ui.tb.wizard.createDb"
            name="%newWizard.tb">
         <description>
            %newWizard.tb.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.heartsome.cat.ts.ui.preferencepage.translation.TranslationPreferencePage"
            class="net.heartsome.cat.database.ui.tb.preference.TBDatabasePage"
            id="net.heartsome.cat.database.ui.tb.preference.tbpage"
            name="%preferencePages.tb">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.heartsome.cat.database.ui.tb.preference.TBDatabaseInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.menu.database?after=net.heartsome.cat.database.ui.TBSeparator">
         <command
               commandId="net.heartsome.cat.database.ui.tb.command.termDbManage"
               label="%menu.translation.termDbManage"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.database.ui.tb.command.importTbx"
               label="%menu.translation.importTbx"
               style="push">
         </command>
         <command
               commandId="net.heartsome.cat.database.ui.tb.command.exportTbx"
               label="%menu.translation.exportTbx"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.menu.translation?after=net.heartsome.cat.ts.ui.xliffeditor.nattable.TBSearchSeparator">
         <command
               commandId="net.heartsome.cat.database.ui.tb.command.TermBaseSearch"
               label="%menu.translation.tbSearch"
               style="push">
         </command>
         <separator
               name="net.heartsome.cat.database.ui.tb.separator5"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:net.heartsome.cat.database.ui.toolbar.search?after=net.heartsome.cat.database.ui.separator.TBSearch">
         <command
               commandId="net.heartsome.cat.database.ui.tb.command.TermBaseSearch"
               icon="images/tool/tb-find.png"
               label="%toolBar.tbSearch"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.file.new?after=net.heartsome.cat.ts.ui.separator.newTB">
         <command
               commandId="net.heartsome.cat.database.ui.tb.command.newTB"
               label="%newWizard.tb"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:net.heartsome.cat.ts.command.newMenu.pulldown?after=net.heartsome.cat.ts.ui.separator.pulldown.newTB">
      		<command
              commandId="net.heartsome.cat.ts.command.newMenu.pulldown"
              icon="images/new_tb.png"
              label="%toolbar.newTB"
              style="push">
             <parameter
                   name="wizardParameter"
                   value="tb">
             </parameter>
          </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:net.heartsome.cat.ts.ui.popupMenu.new?after=net.heartsome.cat.ts.ui.popup.separator.newTB">
     		<command
               commandId="net.heartsome.cat.database.ui.tb.command.newTB"
               label="%newWizard.tb"
               style="push">
         	</command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.database.ui.menu.database.category"
            defaultHandler="net.heartsome.cat.database.ui.tb.handler.TermDbManageHandler"
            id="net.heartsome.cat.database.ui.tb.command.termDbManage"
            name="%command.termDbManage">
      </command>
      <command
            categoryId="net.heartsome.cat.database.ui.menu.database.category"
            defaultHandler="net.heartsome.cat.database.ui.tb.handler.ImportTbxHandler"
            id="net.heartsome.cat.database.ui.tb.command.importTbx"
            name="%command.importTbx">
      </command>
      <command
            categoryId="net.heartsome.cat.database.ui.menu.database.category"
            defaultHandler="net.heartsome.cat.database.ui.tb.handler.ExportTbxHandler"
            id="net.heartsome.cat.database.ui.tb.command.exportTbx"
            name="%command.exportTbx">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.ui.category.translation"
            id="net.heartsome.cat.database.ui.tb.command.TermBaseSearch"
            name="%command.tbSearch">
      </command>
      <command
            categoryId="net.heartsome.cat.ts.ui.category.new"
            defaultHandler="net.heartsome.cat.database.ui.tb.handler.NewTBHandler"
            id="net.heartsome.cat.database.ui.tb.command.newTB"
            name="%command.newTB">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.database.ui.tb.handler.TermBaseSearchHandler"
            commandId="net.heartsome.cat.database.ui.tb.command.TermBaseSearch">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.heartsome.cat.ts.ui.xliffeditor.nattable.editor.XLIFFEditorImplWithNatTable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="net.heartsome.cat.ts.ui.extensionpoint.newproject">
      <newProjectWizardPage
            class="net.heartsome.cat.database.ui.tb.newproject.NewProjectTbPage">
      </newProjectWizardPage>
   </extension>
   <extension
         point="net.heartsome.cat.ts.ui.extensionpoint.projectsetting">
      <ProjectSettingPage
            class="net.heartsome.cat.database.ui.tb.projectsetting.ProjectSettingTBPage"
            pagePath="tbPage">
      </ProjectSettingPage>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.database.ui.tb.command.TermBaseSearch"
            icon="images/translate/search tb.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tb.command.newTB"
            icon="images/new_tb.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tb.command.termDbManage"
            icon="images/database/database-manage.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tb.command.importTbx"
            icon="images/database/import-tbx.png">
      </image>
      <image
            commandId="net.heartsome.cat.database.ui.tb.command.exportTbx"
            icon="images/database/export-tbx.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.database.ui.tb.command.TermBaseSearch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+B">
      </key>
      <key
            commandId="net.heartsome.cat.database.ui.tb.command.termDbManage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+M3+T">
      </key>
   </extension>
</plugin>
