<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="net.heartsome.cat.converter.ui.application.Application"
            parameter="conversion"
            id="net.heartsome.cat.converter.ui.application.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="net.heartsome.cat.converter.ui.application.Perspective"
            id="net.heartsome.cat.converter.ui.application.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="net.heartsome.cat.converter.ui.application.Application"
            id="net.heartsome.cat.converter.ui.application.branding1"
            servletName="index.html">
      </branding>
   </extension>

</plugin>
