<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.heartsome.cat.ts.tm.match.extension">
      <TmMatch
            class="net.heartsome.cat.database.tm.match.TmMatcher">
      </TmMatch>
   </extension>
   <extension
         point="net.heartsome.cat.ts.tm.importer.extension">
      <TmImporter
            class="net.heartsome.cat.database.tm.importer.TmImporter">
      </TmImporter>
   </extension>

</plugin>
