<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:net.heartsome.cat.ts.ui.menus.QAMenu?after=net.heartsome.cat.ts.ui.qa.separator.jump">
         <separator
               name="net.heartsome.cat.ts.ui.xliffeditor.nattable.separator.qa"
               visible="true">
         </separator>
         <command
               commandId="net.heartsome.cat.ts.ui.qa.command.nextNonTransParaCommand"
               id="net.heartsome.cat.ts.ui.qa.command.nextNonTransParaCommand"
               label="%menu.qa.nextNonTransParaCommand"
               style="push">
            <parameter
                  name="JumpNextSegment"
                  value="JumpNextNonTranslation">
            </parameter>
         </command>
         <command
               commandId="net.heartsome.cat.ts.ui.qa.command.nextQuestionParaCommand"
               id="net.heartsome.cat.ts.ui.qa.command.nextQuestionParaCommand"
               label="%menu.qa.nextQuestionParaCommand"
               style="push">
            <parameter
                  name="JumpNextSegment"
                  value="JumpNextQuestion">
            </parameter>
         </command>
         <command
               commandId="net.heartsome.cat.ts.ui.qa.command.nextNoteParaCommand"
               id="net.heartsome.cat.ts.ui.qa.command.nextNoteParaCommand"
               label="%menu.qa.nextNoteParaCommand"
               style="push">
            <parameter
                  name="JumpNextSegment"
                  value="JumpNextNote">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.heartsome.cat.ts.ui.qa.category.Command"
            id="net.heartsome.cat.ts.ui.qa.command.nextNonTransParaCommand"
            name="%command.nextNonTransParaCommand">
         <commandParameter
               id="JumpNextSegment"
               name="JumpNextSegment"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="net.heartsome.cat.ts.ui.qa.category.Command"
            id="net.heartsome.cat.ts.ui.qa.command.nextQuestionParaCommand"
            name="%command.nextQuestionParaCommand">
         <commandParameter
               id="JumpNextSegment"
               name="JumpNextSegment"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="net.heartsome.cat.ts.ui.qa.category.Command"
            id="net.heartsome.cat.ts.ui.qa.command.nextNoteParaCommand"
            name="%command.nextNoteParaCommand">
         <commandParameter
               id="JumpNextSegment"
               name="JumpNextSegment"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.heartsome.cat.ts.jumpsegment.handler.JumpToNextHandler"
            commandId="net.heartsome.cat.ts.ui.qa.command.nextNonTransParaCommand">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.heartsome.cat.ts.ui.xliffeditor.nattable.editor.XLIFFEditorImplWithNatTable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="net.heartsome.cat.ts.jumpsegment.handler.JumpToNextHandler"
            commandId="net.heartsome.cat.ts.ui.qa.command.nextQuestionParaCommand">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.heartsome.cat.ts.ui.xliffeditor.nattable.editor.XLIFFEditorImplWithNatTable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="net.heartsome.cat.ts.jumpsegment.handler.JumpToNextHandler"
            commandId="net.heartsome.cat.ts.ui.qa.command.nextNoteParaCommand">
         <activeWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="net.heartsome.cat.ts.ui.xliffeditor.nattable.editor.XLIFFEditorImplWithNatTable">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.heartsome.cat.ts.ui.qa.command.nextNonTransParaCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M1+M2+ARROW_DOWN">
         <parameter
               id="JumpNextSegment"
               value="JumpNextNonTranslation">
         </parameter>
      </key>
      <key
            commandId="net.heartsome.cat.ts.ui.qa.command.nextQuestionParaCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M2+ARROW_DOWN">
         <parameter
               id="JumpNextSegment"
               value="JumpNextQuestion">
         </parameter>
      </key>
      <key
            commandId="net.heartsome.cat.ts.ui.qa.command.nextNoteParaCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.heartsome.cat.common.ui.shield.defaultAcceleratorConfiguration"
            sequence="M2+M3+ARROW_DOWN">
         <parameter
               id="JumpNextSegment"
               value="JumpNextNote">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="net.heartsome.cat.ts.ui.qa.command.nextNonTransParaCommand"
            icon="images/next.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.qa.command.nextQuestionParaCommand"
            icon="images/next_question.png">
      </image>
      <image
            commandId="net.heartsome.cat.ts.ui.qa.command.nextNoteParaCommand"
            icon="images/next_note.png">
      </image>
   </extension>


</plugin>
